# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
.vscode/launch.json

# dependencies
*/node_modules
node_modules
/.pnp
.pnp.js


# testing
/coverage
**/test-results/
**/playwright-report/
**/playwright/.cache/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
tests/geckodriver.log
geckodriver.log

**/venv/
**/.venv/
**/__pycache__
client/build
api/build
**/megalinter-reports/
**/.mypy_cache/
**/.ruff_cache/
*.venv/
tiling/spectrogram.pmtiles

**/infra/*.json
!**/infra/iqengine.json
**/test-results/
**/playwright-report/
**/playwright/.cache/

# in case someone by mistake do npm i in the root do not check in package-lock.json
/package-lock.json
