--- # General formatting + YAML
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: check-added-large-files
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace