# This is an example .env file, copy the file to ".env", fill it in, and redo the npm start
IQENGINE_CONNECTION_INFO={"settings": [{"name": "GNU Radio SigMF Repo", "containerName": "iqengine", "accountName": "gnuradio", "sasToken": "sp=rl&st=2023-06-13T05:15:42Z&se=2023-08-13T13:15:42Z&sv=2022-11-02&sr=c&sig=uN1wVKFNVeNPmAYY%2By9lBxpyBDq2dsasdexUGxOVbo%3D", "description": "A collection of example SigMF recordings hosted by the GNU Radio project, to contribute recordings use https://staging.iqengine.org/upload", "imageURL": "https://gnuradio.blob.core.windows.net/iqengine/cellular_downlink_880MHz.jpeg" }]}
IQENGINE_FEATURE_FLAGS={"bypassLandingPage": false, "useIQEngineOutReach": true, "displayIQEngineGitHub": true, "hideInternalBranding": true}
IQENGINE_PLUGINS=[{"name":"IQEngine.org", "url":"https://iqengine-staging-plugins.agreeableforest-695e4014.eastus2.azurecontainerapps.io/plugins"}, {"name":"Local", "url": "http://localhost:8000/plugins" }]
IQENGINE_METADATA_DB_CONNECTION_STRING="<YOUR MONGO DB CONNECTION STRING>"
IN_MEMORY_DB=1
IQENGINE_BACKEND_LOCAL_FILEPATH="/tmp/myrecordings"