azure-storage-blob==12.19.1
numpy==1.26.4
scipy==1.12.0
fastapi==0.110.0
jsonschema==4.21.1
PyYAML==6.0.1
pre-commit==3.7.0
uvicorn==0.29.0
azure-functions==1.18.0
matplotlib==3.8.3
urllib3==2.2.1
json5==0.9.24
pymongo==4.6.3
Motor==3.4.0
opencv-python==4.9.0.80
python-dotenv==1.0.1
pydantic==1.10.14
