azure-storage-blob==12.22.0
numpy==2.1.0
scipy==1.14.1
fastapi==0.112.2
jsonschema==4.23.0
PyYAML==6.0.2
pre-commit==3.8.0
uvicorn==0.30.6
azure-functions==1.20.0
matplotlib==3.9.2
urllib3==2.2.2
json5==0.9.25
pymongo==4.8.0
Motor==3.5.1
opencv-python==4.10.0.84
python-dotenv==1.0.1
pydantic==2.7.1
python-multipart==0.0.9
email-validator==2.2.0