azure-storage-blob==12.20.0
numpy==1.26.4
scipy==1.13.1
fastapi==0.111.0
jsonschema==4.22.0
PyYAML==6.0.1
pre-commit==3.7.1
uvicorn==0.30.0
azure-functions==1.19.0
matplotlib==3.9.0
urllib3==2.2.1
json5==0.9.25
pymongo==4.7.2
Motor==3.4.0
opencv-python==4.9.0.80
python-dotenv==1.0.1
pydantic==2.7.1
python-multipart==0.0.9
email-validator==2.1.1