aiohttp==3.11.8
astropy==7.0.0
azure-storage-blob==12.24.0
blinker==1.9.0
cachetools==5.5.0
click==8.1.7
cryptography==44.0.0
fastapi==0.115.5
httpx==0.28.0
Motor==3.6.0
msal==1.31.1
pydantic==2.7.1
pyjwt==2.10.1
pymongo==4.10.1
pymongo-inmemory==0.4.2
pytest==8.3.4
pytest-asyncio==0.24.0
uvicorn==0.32.1
matplotlib==3.9.3
python-dotenv==1.0.1
pytest-mock==3.14.0
cache3==0.4.3
openai==1.55.3
python-multipart==0.0.19
SigMF==1.2.3
scipy==1.14.1
starlette==0.41.3