aiohttp==3.9.3
azure-storage-blob==12.19.0
blinker==1.7.0
cachetools==5.3.2
click==8.1.7
cryptography==42.0.2
fastapi==0.109.0
httpx==0.26.0
Motor==3.3.2
msal==1.26.0
pydantic==1.10.14
pyjwt==2.8.0
pymongo==4.6.1
pymongo-inmemory==0.4.0
pytest==8.0.0
pytest-asyncio==0.23.4
uvicorn==0.27.0.post1
matplotlib==3.8.2
python-dotenv==1.0.1
pytest-mock==3.12.0
cache3==0.4.3
openai==1.10.0
python-multipart==0.0.6
SigMF==1.1.5
scipy==1.12.0