aiohttp==3.8.5
azure-storage-blob==12.17.0
blinker==1.6.2
cachetools==5.3.1
click==8.1.6
cryptography
fastapi==0.101.0
httpx==0.24.1
Motor==3.2.0
msal==1.23.0
pydantic==1.10.12
pyjwt==2.8.0
pymongo==4.4.1
pymongo-inmemory==0.2.13
pytest==7.4.0
pytest-asyncio==0.21.1
uvicorn==0.23.2
matplotlib==3.7.2
python-dotenv==1.0.0
pytest-mock==3.11.1
