---
name: Create pre-release and push Docker image

on:
  push:
    branches:
      - main
    paths:
      - 'api/**'
      - 'client/**'
      - 'Dockerfile'
      - '.dockerignore'
      - '.github/workflows/docker-release.yml'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  create_new_release:
    permissions:
      contents: write
      pull-requests: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: set_variables
        run: |
          {
            echo "repository=${GITHUB_REPOSITORY,,}"
            echo "sha=${GITHUB_SHA::11}"
            echo "build_time=$(date +'%Y%m%d%H%M')"
          } >> "$GITHUB_OUTPUT"
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_SHA: ${{ github.sha }}
      - name: Draft a release
        id: draft_a_release
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
          publish: true
          prerelease: true
          tag: '$RESOLVED_VERSION-pre-${{ steps.set_variables.outputs.build_time }}'
          name: '$RESOLVED_VERSION-pre-${{ steps.set_variables.outputs.build_time }}'
          header: |
            ## This is a pre-release version of IQEngine

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN  }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        if: steps.draft_a_release.outputs.tag_name != ''
        with:
          labels: |
            org.opencontainers.image.source=https://github.com/IQEngine/IQEngine
          push: true
          tags: |
            ghcr.io/${{ steps.set_variables.outputs.repository }}:${{ steps.set_variables.outputs.sha }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}:${{ steps.draft_a_release.outputs.tag_name }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}:pre
        env:
          VITE_CONNECTION_INFO: '${{ secrets.VITE_CONNECTION_INFO }}'
          VITE_IQENGINE_APP_VERSION: '$${{ secrets.VITE_IQENGINE_APP_VERSION }}'
          VITE_GOOGLE_ANALYTICS_KEY: '${{ secrets.VITE_GOOGLE_ANALYTICS_KEY }}'
          VITE_PLUGINS_ENDPOINT: '${{ secrets.VITE_PLUGINS_ENDPOINT }}'
          NODE_ENV: production

      - name: Log in with Azure with Service Principal
        uses: azure/login@v1
        with:
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
          
      - name: Build and deploy Container App
        uses: azure/container-apps-deploy-action@v1
        with:
          containerAppName: ${{ secrets.AZURE_CONTAINER_APP_NAME }}
          resourceGroup: ${{ secrets.AZURE_RESOURCEGROUP }}
          imageToDeploy: ghcr.io/${{ steps.set_variables.outputs.repository }}:${{ steps.set_variables.outputs.sha }}
