---
name: Create pre-release and push Docker image

on:
  workflow_call:
    outputs:
      repository:
        description: 'The first output string'
        value: ${{ jobs.create_pre_release.outputs.repository }}
      sha:
        description: 'The second output string'
        value: ${{ jobs.create_pre_release.outputs.sha}}

permissions:
  contents: read

jobs:
  create_pre_release:
    permissions:
      contents: write
      pull-requests: write
      packages: write
    runs-on: ubuntu-latest
    outputs:
      repository: ${{ steps.set_variables.outputs.repository }}
      sha: ${{ steps.set_variables.outputs.sha }}
    environment:
      name: 'Staging'
      url: https://staging.iqengine.org
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: set_variables
        run: |
          {
            echo "repository=${GITHUB_REPOSITORY,,}"
            echo "sha=${GITHUB_SHA::11}"
            echo "build_time=$(date +'%Y%m%d%H%M')"
          } >> "$GITHUB_OUTPUT"
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_SHA: ${{ github.sha }}
      - name: Draft a release
        id: draft_a_release
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
          publish: true
          prerelease: true
          tag: '$RESOLVED_VERSION-pre-${{ steps.set_variables.outputs.build_time }}'
          name: '$RESOLVED_VERSION-pre-${{ steps.set_variables.outputs.build_time }}'
          header: |
            ## This is a pre-release version of IQEngine

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN  }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        if: steps.draft_a_release.outputs.tag_name != ''
        with:
          labels: |
            org.opencontainers.image.source=https://github.com/IQEngine/IQEngine
          push: true
          tags: |
            ghcr.io/${{ steps.set_variables.outputs.repository }}:${{ steps.set_variables.outputs.sha }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}:${{ steps.draft_a_release.outputs.tag_name }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}:pre
        env:
          NODE_ENV: production
      - name: Build and Push Plugins
        uses: docker/build-push-action@v2
        if: steps.draft_a_release.outputs.tag_name != ''
        with:
          context: plugins
          labels: |
            org.opencontainers.image.source=https://github.com/IQEngine/IQEngine
          push: true
          tags: |
            ghcr.io/${{ steps.set_variables.outputs.repository }}-plugins:${{ steps.set_variables.outputs.sha }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}-plugins:${{ steps.draft_a_release.outputs.tag_name }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}-plugins:pre
        env:
          NODE_ENV: production
