---
name: Create New Plugin Base Image

# trigger manually or when there is a merge to main with changes to /plugins/Dockerfile-base-image
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - plugins/Dockerfile-base-image

permissions:
  contents: read

jobs:
  create_new_plugin_base_image:
    permissions:
      contents: write
      pull-requests: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      - id: set_variables
        run: |
          # make the repository lowercase
          echo "repository=${GITHUB_REPOSITORY,,}" >> "$GITHUB_OUTPUT"
          # truncate sha to 11 characters
          echo "sha=${GITHUB_SHA::11}" >> "$GITHUB_OUTPUT"
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_SHA: ${{ github.sha }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@dd4fa0671be5250ee6f50aedf4cb05514abda2c7 # v1.14.1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN  }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
        with:
          context: plugins
          file: plugins/Dockerfile-base-image
          labels: |
            org.opencontainers.image.source=https://github.com/IQEngine/IQEngine
          push: true
          tags: |
            ghcr.io/${{ steps.set_variables.outputs.repository }}-plugins-base:${{ steps.set_variables.outputs.sha }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}-plugins-base:latest
