---
name: Create New Release

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  create_new_release:
    permissions:
      contents: write
      pull-requests: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: set_variables
        run: |
          # make the repository lowercase
          echo "repository=${GITHUB_REPOSITORY,,}" >> "$GITHUB_OUTPUT"
          # truncate sha to 11 characters
          echo "sha=${GITHUB_SHA::11}" >> "$GITHUB_OUTPUT"
        env:
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_SHA: ${{ github.sha }}
      - name: Draft a release
        id: draft_a_release
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yml
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN  }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          labels: |
            org.opencontainers.image.source=https://github.com/IQEngine/IQEngine
          push: true
          tags: |
            ghcr.io/${{ steps.set_variables.outputs.repository }}:${{ steps.set_variables.outputs.sha }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}:${{ steps.draft_a_release.outputs.tag_name }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}:latest
        env:
          NODE_ENV: production
      - name: Build and Push Plugins
        uses: docker/build-push-action@v2
        if: steps.draft_a_release.outputs.tag_name != ''
        with:
          context: plugins
          labels: |
            org.opencontainers.image.source=https://github.com/IQEngine/IQEngine
          push: true
          tags: |
            ghcr.io/${{ steps.set_variables.outputs.repository }}-plugins:${{ steps.set_variables.outputs.sha }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}-plugins:${{ steps.draft_a_release.outputs.tag_name }}
            ghcr.io/${{ steps.set_variables.outputs.repository }}-plugins:latest
        env:
          NODE_ENV: production
