name: Run API tests

on:
  pull_request:
    # only runs on PRs that target main
    branches:
      - main
    paths:
      - api/**
  push:
    paths:
      - api/**
  workflow_dispatch:

jobs:
  vitest:
    name: RunAPITests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - run: |
          pip install -r ./requirements.txt
          pytest
        working-directory: api
