---
name: Run Playwright frontend integration tests

on:
  pull_request:
    # only runs on PRs that target main
    branches:
      - main
  workflow_dispatch:

jobs:
  playwright:
    name: RunPlaywrightTests
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: e2e
        run: npm ci

      - name: Docker build
        run: docker compose -f docker-compose-e2e.yml build
        env:
          MONGO_USERNAME: mongoadmin
          MONGO_PASSWORD: secret

      - name: Docker up
        run: docker compose -f docker-compose-e2e.yml up &
        env:
          IN_MEMORY_DB: '0'
          IQENGINE_FEATURE_FLAGS: '{"useAPIDatasources": true}'
          IQENGINE_CONNECTION_INFO: '{"settings": [{"name": "GNU Radio SigMF Repo","containerName": "iqengine","accountName": "gnuradio","sasToken": "","description": "A collection of example SigMF recordings hosted by the GNU Radio project (contact Marc to have your recordings added)","imageURL": "https://gnuradio.blob.core.windows.net/iqengine/cellular_downlink_880MHz.jpeg"}]}'
          MONGO_USERNAME: mongoadmin
          MONGO_PASSWORD: secret

      - name: Check build has succeeded
        uses: cygnetdigital/wait_for_response@510ed9823ee9c5f876e57d25bd87c575032d8156 # v2.0.0
        with:
          url: 'http://localhost:3000/'
          responseCode: '200,500'
          timeout: 30000
          interval: 500

      - name: Install Playwright Browsers
        working-directory: e2e
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        working-directory: e2e
        run: |
          npx playwright test --config playwright-pr.config.ts --grep @CICompatible
        env:
          IQENGINE_METADATA_DB_CONNECTION_STRING: mongodb://mongoadmin:secret@localhost:27017/admin

      - name: Docker down
        run: docker compose -f docker-compose-e2e.yml down
